{% load static %}

<html>

<head>

    <title>Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS only -->

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.rtl.css' %}">
</head>

<body>

    <div class="container-fluid">

        <header class="blog-header py-3 ">
            <div class="row flex-nowrap justify-content-between align-items-center ">
                <div class="col-4 pt-1 ">
                    <p> Bienvenido {{ users.Username }} </p>
                </div>
                <div class="col-4 text-center ">
                    <a class="blog-header-logo text-dark " href="# "> Blog </a>
                </div>

                <div class="col-4 d-flex justify-content-end align-items-center ">

                    {% if users.is_authenticated %}
                    <a class="btn btn-sm btn-outline-secondary " href="{% url 'logout' %} "> Logout </a> {% else %}
                    <a href="{% url 'login' %} ">Login</a> {% endif %}



                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-2 ">
            <nav class="nav d-flex justify-content-between ">
                <a class="p-2 text-muted " href="{% url 'posts' %} ">Inicio</a>
                <a class="p-2 text-muted " href="{% url 'registro' %}">Registrarse</a>
                <a class="p-2 text-muted " href="{% url 'crear' %}">Crear Post</a>

            </nav>
        </div>

        {% block content %} {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>

</body>

</html>